@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --background-color: #0c0714;
    --background-color-transparent: #0c0714de;
    --light-outline: #302736;
    --text-color: #fffff8;
    --navbar-height: 64px;
    --navbar-margin: 8px;
}

html{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-size: 18px;
    color: var(--text-color);
    background-color: var(--background-color);
    text-align: center;
}

body{
    margin: 0px;
    background: url("/content/NewBG.png");
}

img{
    display: block;
    margin: auto;
    /*border-radius: .5rem;*/
    width: 100%;
    max-width: fit-content;
}

.main-content{
    display: block;
    margin: auto;
    margin-top: calc(var(--navbar-height) + var(--navbar-margin) * 2);
    width: 90%;
    max-width: 960px;
    padding-left: 16px;
    padding-right: 16px;

    background-color: var(--background-color-transparent);

    min-height: calc(100vh - (var(--navbar-height) + var(--navbar-margin) * 3));

    border-left: solid 1px var(--light-outline);
    border-right: solid 1px var(--light-outline);

    padding-top: var(--navbar-margin);
}

.nav-bar{
    width: 100%;
    padding: 0px;
    background-color: var(--background-color);
    position: fixed;
    height: var(--navbar-height);
    top: var(--navbar-margin);

    display: flex;
    gap: 8px;

    justify-content: center;

    padding-bottom: var(--navbar-margin);
    border-bottom: solid 1px var(--light-outline);
}

.nav-button{
    background-color: inherit;
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 24px;
    font-style: normal;
    text-align: center;
    cursor: pointer;
    height: 100%;
    border: solid 1px var(--light-outline);
    padding-left: 16px;
    padding-right: 16px;
    transition: all .2s;
}

.nav-button:hover{
    padding-left: 24px;
    padding-right: 24px;
    background-color: var(--text-color);
    color: var(--background-color);
}

.project-img{
    height: 100%;
    object-fit: cover;
}

.div-for-project-image{
    padding: 8px;
    padding-right: 16px;
    height: calc(180px - 16px);
    float: left;
}

.project-div{
    border-top: solid 1px var(--light-outline);
    text-align: left;
    width: 100%;
    color: var(--text-color);
    height: 180px;
    transition: all 0.2s;
}

.project-link{
    height: fit-content;
    text-decoration: none;
}

.project-div:hover{
    background-color: var(--text-color);
    color: var(--background-color);
}

.social-links {
    text-align: center;
    padding: 24px;
    padding-top: 0px;
}

.social-container {
    display: flex;
    gap: 8px;
    justify-content: center;
    flex-wrap: wrap;
}

.social-btn {
    text-decoration: none;
    padding: 16px 16px;
    border: 1px solid var(--light-outline);
    background: var(--background-color);
    color: var(--text-color);
    transition: 0.2s ease;
    display: inline-flex;
    align-items: center;
    gap: 8px; /* space between icon and text */
}

.social-btn:hover {
    background: var(--text-color);
    color: var(--background-color);
    padding: 16px 24px;
}

.social-icn{
    float: left;
    height: 20px;
    margin-right: 8px;
    color: inherit;
}