@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-color: #0c0714;
    --background-color-transparent: #0c0714de;
    --light-outline: #54455f;
    --text-color: #fffff8;
    --navbar-height: 64px;
    --navbar-margin: 8px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: monospace;
}

html {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-size: 18px;
    color: var(--text-color);
    background-color: var(--background-color);
    text-align: left;
}

body {
    margin: 0px;
    overflow: hidden;

    background-image: url("/content/NewBG.png");
    background-size: cover;
    background-position: top center;
}

body::after {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 1;
    background-image: repeating-linear-gradient(to bottom,
            rgba(253, 252, 245, 0.035) 0px,
            rgba(253, 252, 245, 0.035) 1px,
            transparent 1px,
            transparent 3px);
}

img {
    display: block;
    margin: auto;
    /*border-radius: .5rem;*/
    width: 100%;
    max-width: fit-content;
}

.main-content {
    display: block;
    margin: auto;
    width: 90%;
    max-width: 960px;
    padding: 2em;

    background-color: var(--background-color-transparent);

    height: calc(100vh - (var(--navbar-height) + var(--navbar-margin) * 3) - 32px);

    border-left: solid 1px var(--light-outline);
    border-right: solid 1px var(--light-outline);

    padding-top: var(--navbar-margin);
    padding-bottom: 3em;

    overflow: scroll;
}

.nav-bar {
    width: 100%;
    padding: 0px;
    background-color: var(--background-color);
    position: sticky;
    height: var(--navbar-height);
    top: 0px;

    padding: var(--navbar-margin) 16px;

    display: flex;
    gap: 8px;

    margin: auto;
    justify-content: center;

    border-bottom: 1px solid var(--light-outline);
}

.nav-button {
    background-color: inherit;
    color: var(--text-color);
    font-family: monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 24px;
    font-style: normal;
    text-align: center;
    cursor: pointer;
    height: 100%;
    border: solid 1px var(--light-outline);
    padding-left: 16px;
    padding-right: 16px;
    transition: all .2s;
    border-radius: 0px 12px 0px 12px;
}

.nav-button:hover {
    padding-left: 24px;
    padding-right: 24px;
    background-color: var(--text-color);
    color: var(--background-color);
}

.project-img {
    height: 100%;
    object-fit: cover;
    border-radius: 0px 12px 0px 6px;
    max-width: 100%;
}

.div-for-project-image {
    padding: 8px;
    padding-right: 16px;
    height: calc(180px - 16px);
    width: fit-content;
    float: left;
}

.project-div {
    border: solid 1px var(--light-outline);
    text-align: left;
    width: 100%;
    color: var(--text-color);
    height: 180px;
    border-radius: 0px 12px 0px 12px;
    margin-bottom: 4px;
    transition: all 0.2s;
}

.project-link {
    height: fit-content;
    text-decoration: none;
}

.project-div:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

.social-links {
    text-align: center;
    padding: 24px;
    padding-top: 0px;
}

.social-container {
    display: flex;
    gap: 8px;
    justify-content: center;
    flex-wrap: wrap;
}

.social-btn {
    text-decoration: none;
    padding: 16px 16px;
    border: 1px solid var(--light-outline);
    background: var(--background-color);
    color: var(--text-color);
    transition: 0.2s ease;
    display: inline-flex;
    align-items: center;
    gap: 8px;

    border-radius: 0px 12px 0px 12px;
    /* space between icon and text */
}

.social-btn:hover {
    background: var(--text-color);
    color: var(--background-color);
    padding: 16px 24px;
}

.social-icn {
    float: left;
    height: 20px;
    margin-right: 8px;
    color: inherit;
}

.contact-links {
    display: flex;
    width: fit-content;
    margin: auto;
    gap: 4px;
}

.contact-links a {
    transition: 0.1s ease;
}

.contact-links a:hover {
    padding-top: 4px;
}